@import '@/styles/variables.scss';
@import '@/styles/typography.scss';
@import '@/styles/mixins.scss';

.resultCard {
  width: 360px;
  padding: $spacing-24 $spacing-24 $spacing-24 $spacing-32;

  color: $primary-color;
  background-color: rgba($white-100, .85);
  backdrop-filter: blur(5px);
  border-radius: $border-radius-lg - ($spacing-24 / 2);

  .resultTitle {
    @include title-xl;

    margin-bottom: $spacing-24 ;
  }

  .infos {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .infoGroup {
      @include text-body-big;
    }
  }

  .coords {
    @include text-body-sm;
    float: right;

    span {
      display: block;
    }
  }

  .copyBtn {
    position: absolute;
    top: $spacing-24;
    right: $spacing-24;
    padding: $spacing-8 $spacing-16;

    font-weight: 600;
    color: $secondary-color;
    background-color: $primary-color;
    border-radius: $border-radius-sm;
    border: none;
    cursor: pointer;

    transition: all .3s;

    &:active {
      background-color: rgba($primary-color, .9);
      color: $white-100;
    }
  }

  @include respond-to("mobile") {
    width: calc(100% - $spacing-24 * 4);
  }
}